langchain
langchain-core
langchain-community
pymupdf
unstructured
unstructured[pdf]
langchain-huggingface
sentence-transformers
pymilvus
langchain-milvus
langchain-groq
python-dotenv
streamlit
fastapi



